/*****12 columm grid system setup***/

/*********Mobile first ehhehe*******/

.Grid-Container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#overskrift-side-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.first {
  grid-column-start: 1;
  grid-column-end: 2.5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.second {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

#midte-overskrift-side-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}

.third {
  grid-column-start: 1;
  grid-column-end: 2.5;
  grid-row-start: 8;
  grid-row-end: 9;
}

.fourth {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
}
